<h2>Recupera tu cuenta</h2>
<p>Si te olvidaste tu contrase침a, puedes utilizar este formulario para resetearla. Recibir치s un email con las instrucciones.</p>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, 'Correo electr칩nico' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Resetear contrase침a" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
