<!-- inicio navbar-->
<nav class="navbar fondo navbar-expand-lg sticky-top btco-hover-menu">
  <div class="container pt-2 text-center">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <div class="row">
        <div class="col-lg-6">
          <%= image_tag('identidad_seres.png', :class => "d-inline-block", :width => 'auto', :height => 36) %>
        </div>
        <div class="col-lg-6 pt-1">
          <p class="lead color">| Portal de Biblioteca</p>
        </div>
      </div>
    <% end %>
    <button class="navbar-toggler ml-auto mr-auto navy" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <%= fa_icon "bars", class: 'color_white' %>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle color" href="#" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% unless current_user.avatar.blank? %>
              <%= image_tag(current_user.avatar, :class => "rounded-circle img-circle") %> <%= current_user.username %>
            <% else %>
              <%= image_tag('missing.png', :class => "rounded-circle img-circle") %> <%= current_user.username %>
            <% end %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownProfile">
            <li>
              <a class="dropdown-item" href="home-one.html" target="_blank">
                Ver Perfil
              </a>
            </li>
            <li>
              <%= link_to edit_user_registration_path, :class => 'dropdown-item' do %>
                Editar Perfil
              <% end %>
            </li>
            <li>
              <a class="dropdown-item" href="home-one.html" target="_blank">
                Cambiar Contraseña</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle color" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon "bell", class: 'color' %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#"> Notificacion 1</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> Notificacion 2</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> Notificacion 3</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle color" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon "cogs", class: 'color' %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li>
              <a class="dropdown-item dropdown-toggle" href="#"> <%= fa_icon "bookmark", text: 'Catalogos' %> </a>
              <ul class="dropdown-menu">
                <li> <%= link_to users_path, class: 'dropdown-item' do %> <%= fa_icon "users", text: 'Usuarios' %> <% end %> </li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#"> Otras cosas</a></li>
            <li><a class="dropdown-item dropdown-toggle" href="#"> Configuraciones </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Submenu action</a></li>
                <li><a class="dropdown-item" href="#">Another submenu action</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item color">
          <%= link_to destroy_user_session_path, :class => 'nav-link active color', method: :delete do %>
            <%= fa_icon "sign-out-alt" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- fin navbar -->

